* {
  box-sizing: border-box;
  font-family: Poppins !important;
}
.folder-structure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin: 20px 0px;
}

.folder-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.folder-Breadcrumbs-Links {
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

.App {
  padding: auto;
  margin: auto;

  h1 {
    text-align: center;
    color: #0758e8 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
  }
}

.create-btn {
  color: #ffffff !important;
  background-color: #0758e8 !important;
  font-weight: 400 !important;
  border-radius: 6px !important;
  border-color: #0758e8 !important;
  padding: 7px 22px !important;
}

.cancle-btn {
  font-weight: 400 !important;
  border-radius: 6px !important;
  border: 1px solid #0758e8 !important;
  padding: 7px 22px !important;
}

.create-folder-popup {
  margin: 20px !important;
}

.inner-child {
  color: #0758e8;
  font-size: 14px !important;
}
